workflows/ ai.json
{"updatedAt":"2025-12-12T16:08:58.000Z","createdAt":"2025-11-29T08:05:06.015Z","id":"1UdiNX7rJworSGgS","name":"ai","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"id":"70e96b32-673f-45db-82b1-d322c4534937","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"spreadsheetId","value":"<__PLACEHOLDER_VALUE__Your Google Sheets Document ID__>","type":"string"},{"id":"id-2","name":"sheetName","value":"<__PLACEHOLDER_VALUE__Sheet name to update__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"ce8846b5-6991-4b78-97c4-e9af51122749","name":"Workflow Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0]},{"parameters":{"assignments":{"assignments":[{"id":"id-1","name":"column1","value":"<__PLACEHOLDER_VALUE__Data for first column__>","type":"string"},{"id":"id-2","name":"column2","value":"<__PLACEHOLDER_VALUE__Data for second column__>","type":"string"},{"id":"id-3","name":"column3","value":"<__PLACEHOLDER_VALUE__Data for third column__>","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"25a28558-635a-4ebb-bec6-f1f2d33cb7de","name":"Prepare Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,0]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"id","value":"={{ $('Workflow Configuration').first().json.spreadsheetId }}"},"sheetName":{"__rl":true,"mode":"name","value":"={{ $('Workflow Configuration').first().json.sheetName }}"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["column1"],"schema":[]},"options":{}},"id":"e1c20bf2-93bd-463b-b063-04d848cd0bab","name":"Update Google Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,0]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Workflow Configuration","type":"main","index":0}]]},"Workflow Configuration":{"main":[[{"node":"Prepare Data","type":"main","index":0}]]},"Prepare Data":{"main":[[{"node":"Update Google Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"72752fbe-d0be-4e47-81ad-4031e4f144de","triggerCount":1,"shared":[{"updatedAt":"2025-11-29T08:05:06.019Z","createdAt":"2025-11-29T08:05:06.019Z","role":"workflow:owner","workflowId":"1UdiNX7rJworSGgS","projectId":"oFanQrbOzBuxGGHa"}],"tags":[]}