workflows/ RAG Workflow For Company Documents stored in Google Drive.json
{"updatedAt":"2025-12-30T17:03:24.000Z","createdAt":"2025-12-28T11:07:19.015Z","id":"Iq4ZU4ufxqhnoV6O","name":"RAG Workflow For Company Documents stored in Google Drive","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"fea77e09-4eeb-4c6e-abe4-6d01f2ce4758","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[80,192],"typeVersion":1},{"parameters":{},"id":"2edc8b75-0aa9-455e-b42d-d2406ae55c8f","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[48,480],"typeVersion":1},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"761f9101-08ad-4930-9263-5be61ff04f9a","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[240,416],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"2c732a16-2936-4b0e-aecb-745335a9032e","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[224,624],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""}},"id":"fac7af71-e41b-4092-a6f6-7b3199fbed1b","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-256,880],"typeVersion":1.7},{"parameters":{"name":"company_documents_tool","description":"Retrieve information from any company documents"},"id":"559af90f-2a3b-42fa-8c8b-8139ce84d486","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[144,1104],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"592c112a-4043-4126-b5cc-f7e7650cbfcf","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[48,1280],"typeVersion":1},{"parameters":{},"id":"7c103603-99ca-4f15-a03d-37a6e061ee77","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[272,1536],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"639cd588-3e1a-4bc0-a0e0-fba370e24a76","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-128,192],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"yC72JJrfMB0tND79","name":"Google Drive account"}}},{"parameters":{"content":"## Chat with company documents"},"id":"c9be1cd1-84e8-479b-a675-6df7ada7e1f7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-64,672],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"},{}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultUrl":"https://drive.google.com/drive/folders/1evDIoHePhjw_LgVFZXSZyK1sZm2GHp9W","cachedResultName":"INNOVI PRO"},"event":"fileUpdated","options":{}},"id":"a8d663e6-8584-458a-ab5c-4d0c80c42162","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-464,336],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"yC72JJrfMB0tND79","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":""},"event":"fileCreated","options":{}},"id":"944b1383-8f4b-4c21-80bd-0972b3ab9cc1","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-464,80],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"yC72JJrfMB0tND79","name":"Google Drive account"}}},{"parameters":{},"id":"dffe01a7-f95e-426b-9664-55c31bf6d692","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-176,1184],"typeVersion":1.3},{"parameters":{"options":{}},"id":"d86d08db-e67f-492a-823d-dd5fafadbfa1","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-608,880],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Add docuemnts to vector store when updating or creating new documents in Google Drive","width":320},"id":"73815ffa-2533-44ab-9cbd-3e371f37d1eb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[96,-32],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"6e68d664-122f-4735-b33c-c0c24990476d","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-368,1184],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"270c4315-c49b-4cc3-a1ad-c3bf2fa5423e","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[400,1280],"typeVersion":1},{"parameters":{"content":"## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.","height":720,"width":420},"id":"1df5ff80-a1a5-4859-bf9d-fa59fccaf52f","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1104,64],"typeVersion":1}],"connections":{"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"9ef137a5-b683-4938-9ac2-17ad04314b44","triggerCount":0,"shared":[{"updatedAt":"2025-12-28T11:07:19.017Z","createdAt":"2025-12-28T11:07:19.017Z","role":"workflow:owner","workflowId":"Iq4ZU4ufxqhnoV6O","projectId":"oFanQrbOzBuxGGHa"}],"tags":[]}