workflows/ RAGWhatsapp.json
{"updatedAt":"2025-12-04T13:38:15.000Z","createdAt":"2025-11-30T13:57:44.517Z","id":"OEaXE9IPbgZh1fBv","name":"RAGWhatsapp","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-368,-48],"id":"b32e28f1-0dde-42b2-bf4d-04f606cdcd0a","name":"WhatsApp Trigger","webhookId":"203851e5-1d35-4c11-b733-7830a2c01874","credentials":{"whatsAppTriggerApi":{"id":"fX7IXkStVA8J4P4G","name":"WhatsApp OAuth account"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-160,-48],"id":"598a8ced-edc8-493c-9ddb-3f91c282a0d3","name":"AI Agent"},{"parameters":{"operation":"send","phoneNumberId":"866161353254343","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{"previewUrl":false}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[192,-48],"id":"609a296d-c6d8-458c-bb19-2e9bdcb547aa","name":"Send message","webhookId":"fdac18aa-784d-454f-a929-0a3b47e2f5fa","credentials":{"whatsAppApi":{"id":"pF8qhwHtRgRLwfon","name":"WhatsApp account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-224,144],"id":"f94a3f72-bb2d-4d5e-80ab-b6cebad0f21d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WQ5EKwS94Irx4SJr","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.messages[0].from }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-96,144],"id":"97af5d7b-933a-4663-8c32-8e06e4aaf719","name":"Simple Memory"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"76398c67-73cb-451b-8e5e-1b5916e3ba53","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T13:57:44.521Z","createdAt":"2025-11-30T13:57:44.521Z","role":"workflow:owner","workflowId":"OEaXE9IPbgZh1fBv","projectId":"oFanQrbOzBuxGGHa"}],"tags":[]}