workflows/ WhatsappChat.json
{"updatedAt":"2025-12-01T11:38:34.000Z","createdAt":"2025-11-30T13:31:46.466Z","id":"m8Nnin5TwUz12R9R","name":"WhatsappChat","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-368,-48],"id":"ff53dd9b-d994-49bd-8ca4-daf46c7ab7e3","name":"WhatsApp Trigger","webhookId":"09c14678-ada8-4c91-8da1-7dbd1984145c","credentials":{"whatsAppTriggerApi":{"id":"fX7IXkStVA8J4P4G","name":"WhatsApp OAuth account"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-160,-48],"id":"0fda6995-24c6-418a-a750-c94efadad9e8","name":"AI Agent"},{"parameters":{"operation":"send","phoneNumberId":"866161353254343","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{"previewUrl":false}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[192,-48],"id":"8da6a766-c4e7-4439-8a56-d27b66c66567","name":"Send message","webhookId":"4a2576c4-14e5-4a2f-9f2d-b44f6529d5ee","credentials":{"whatsAppApi":{"id":"lEkpleOT8OfoP8kJ","name":"WhatsApp account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-224,144],"id":"3deef045-f5ae-4d16-83d5-2413f6b7fa0e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WQ5EKwS94Irx4SJr","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.messages[0].from }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-96,144],"id":"7db3c620-545b-4338-abb4-b5fa73dd75b3","name":"Simple Memory"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"78990b1f-0e3d-4432-aa89-79c80e247192","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T13:31:46.468Z","createdAt":"2025-11-30T13:31:46.468Z","role":"workflow:owner","workflowId":"m8Nnin5TwUz12R9R","projectId":"oFanQrbOzBuxGGHa"}],"tags":[]}