workflows/ WhatsappChat.json
{"updatedAt":"2025-12-02T14:40:14.000Z","createdAt":"2025-11-30T13:31:46.466Z","id":"m8Nnin5TwUz12R9R","name":"WhatsappChat","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-368,-48],"id":"ff53dd9b-d994-49bd-8ca4-daf46c7ab7e3","name":"WhatsApp Trigger","webhookId":"09c14678-ada8-4c91-8da1-7dbd1984145c","credentials":{"whatsAppTriggerApi":{"id":"fX7IXkStVA8J4P4G","name":"WhatsApp OAuth account"}}},{"parameters":{"promptType":"define","text":"={{ $json.messages[0].text.body }}","options":{"systemMessage":"You are an help assistant in the shoe business. \nyou are suppose to answer questions on restaurant menu and make recommendations to queries. \n\nRefer to the menu attached in the tool and answer only based on information of  the menu attached in the tool. "}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-160,-48],"id":"0fda6995-24c6-418a-a750-c94efadad9e8","name":"AI Agent","alwaysOutputData":false},{"parameters":{"operation":"send","phoneNumberId":"866161353254343","recipientPhoneNumber":"={{ $('WhatsApp Trigger').item.json.messages[0].from }}","textBody":"={{ $json.output }}","additionalFields":{"previewUrl":true}},"type":"n8n-nodes-base.whatsApp","typeVersion":1.1,"position":[192,-48],"id":"8da6a766-c4e7-4439-8a56-d27b66c66567","name":"Send message","webhookId":"4a2576c4-14e5-4a2f-9f2d-b44f6529d5ee","credentials":{"whatsAppApi":{"id":"Mk5P3WUfIIf3oZ1m","name":"WhatsApp account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-224,144],"id":"3deef045-f5ae-4d16-83d5-2413f6b7fa0e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"WQ5EKwS94Irx4SJr","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.messages[0].from }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-96,144],"id":"7db3c620-545b-4338-abb4-b5fa73dd75b3","name":"Simple Memory"},{"parameters":{"content":"### Whatsapp Trigger\n\n** Receive messages via whatsapp \n"},"type":"n8n-nodes-base.stickyNote","position":[-432,-224],"typeVersion":1,"id":"f8164921-e99c-4e19-a583-9e8e1bb1515c","name":"Sticky Note"},{"parameters":{"content":"### Ai Agent\n*** Ai Agent to process the messages \n*** send back messages via whatsapp\n"},"type":"n8n-nodes-base.stickyNote","position":[-160,-224],"typeVersion":1,"id":"659c3b99-9b77-4a9d-acb0-16eef815d8ae","name":"Sticky Note1"},{"parameters":{"url":"https://8ba6f821-2830-4ebd-aaf2-afb6db727d74.filesusr.com/ugd/87ed08_1819dd46bab4480290807103b37fb8bc.pdf","options":{},"optimizeResponse":true,"responseType":"text"},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.3,"position":[96,144],"id":"2a5b33b9-3c71-4567-a3ee-3aacc6a256f0","name":"HTTP Request"}],"connections":{"WhatsApp Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d1278b8d-87ed-4230-8b8e-b90256ba0a56","triggerCount":1,"shared":[{"updatedAt":"2025-11-30T13:31:46.468Z","createdAt":"2025-11-30T13:31:46.468Z","role":"workflow:owner","workflowId":"m8Nnin5TwUz12R9R","projectId":"oFanQrbOzBuxGGHa"}],"tags":[]}